<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/common :: head('Webtoon Recommender')">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title> 웹툰 추천 사이트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card>img {
            object-fit: cover;
        }
    </style>
    <link rel="stylesheet" href="starter-template.css">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common :: menu('friend')">
    </nav>

    <main role="main" class="container">
        <hr class="my-4">
        <div class="starter-template">
            <h1> 친구의 웹툰 </h1>
            <p class="lead">친구의 아이디를 검색해보세요.<br>
                친구가 평가한 웹툰을 추천받고 내 웹툰도 공유해보세요. </p>

        </div>

        <div class="input-group mb-3">
            <nav class="navbar-padding-x:.5rem;">
                <div class="container-fluid">
                    <form class="d-flex" role="search" th:action="@{/friend/friendwebtoon}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search friend's id" aria-label="friend's id"
                               aria-describedby="basic-addon2" name="keyword">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </main>

    <hr class="my-4">
    <hr class="my-4">
    <hr class="my-4">

    <h3 class="text-center" th:if="${!rating.isEmpty()}" th:text="${rating[0].user.username}+의웹툰"></h3>
    <h3 class="text-center" th:if="${rating.isEmpty()}">평가데이터가 존재하지 않습니다.</h3>
    <hr class="my-4">
    <!-- <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" th:each="ratingwebtoon : ${rating}">
            <div class="card bg-dark mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="${ratingwebtoon.webtoon.img_src}" class="img-fluid img-thumbnail rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ratingwebtoon.webtoon.titlename}">Card title</h5>
                            <p class="card-text"><small class="text-muted" th:text="${ratingwebtoon.rate}+점">Last
                                    updated 3 mins ago</small></p>
                            <a th:href="@{/detail/detailpage/(id=${ratingwebtoon.webtoon.titleid})}" class="btn btn-secondary">comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container d-flex align-items-center justify-content-start position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column friend" th:each="ratingwebtoon : ${rating}">
            <div class='imgContainer'>
                <img th:src="${ratingwebtoon.webtoon.img_src}" alt="">
            </div>
            <div class="content">
                <h3 th:text="${ratingwebtoon.webtoon.titlename}"> 웹툰제목</h3>
                <p class="card-text" th:text="${ratingwebtoon.rate}+점">Last
                    updated 3 mins ago</p>
                <a th:href="@{/detail/detailpage/(id=${ratingwebtoon.webtoon.titleid})}"
                    class="btn btn-secondary">comments</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

</html>