<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/common :: head('Webtoon Recommender')">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KV2L3H00JP"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KV2L3H00JP');
</script>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="rating.css">
    <link rel="stylesheet" href="starter-template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title> 웹툰 평가 및 추천받기</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
        th:replace="fragment/common :: menu('recommender')">
    </nav>
    <main role="main" class="container">
        <hr class="my-4">
        <div class="starter-template">
            <p class="lead">내가 본 웹툰을 평가하면<br>
                홈 화면에 나에게 맞는 웹툰을 추천해드립니다.<br>
                5개 이상 평가해야합니다.</p>
        </div>

        <div class="container">
            <p>평가 개수</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50"
                    th:aria-valuemin="${#lists.size(userRate)}" aria-valuemax="543" style="width:5.25%"
                    th:text="${#lists.size(userRate)}+개">
                    10개
                </div>
            </div>
        </div>
    </main>

    <hr class="my-4">
    <hr class="my-4">
    <hr class="my-4">

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/recommend/recommender}">평가</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/recommend/myrating}">내 평가 웹툰</a>
            </li>
        </ul>
    </div>

    <div class="container d-flex align-items-center justify-content-start position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column" th:each="every_webtoon_data : ${webtoonData}">
            <div class='imgContainer'>
                <img th:src="${every_webtoon_data.img_src}" alt="">
            </div>
            <div class="content">
                <h3 th:text="${every_webtoon_data.titlename}"> 웹툰제목</h3>
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                <form th:action="@{/recommend/recommender}" th:object="${rating}" method="post" target="dummyframe">
                    <input type="hidden" name="webtoonid" th:value="${every_webtoon_data.titleid}">
                    <div class="rating">
                        <input type='radio' hidden name='rate' th:id="${every_webtoon_data.titleid}+0.1" data-idx='1'
                            value='5' th:field="*{rate}">
                        <label th:for="${every_webtoon_data.titleid}+0.1"></label>

                        <input type='radio' hidden name='rate' th:id="${every_webtoon_data.titleid}+0.2" data-idx='2'
                            value='4' th:field="*{rate}">
                        <label th:for="${every_webtoon_data.titleid}+0.2"></label>

                        <input type='radio' hidden name='rate' th:id="${every_webtoon_data.titleid}+0.3" data-idx='3'
                            value='3' th:field="*{rate}">
                        <label th:for="${every_webtoon_data.titleid}+0.3"></label>

                        <input type='radio' hidden name='rate' th:id="${every_webtoon_data.titleid}+0.4" data-idx='4'
                            value='2' th:field="*{rate}">
                        <label th:for="${every_webtoon_data.titleid}+0.4"></label>

                        <input type='radio' hidden name='rate' th:id="${every_webtoon_data.titleid}+0.5" data-idx='5'
                            value='1' th:field="*{rate}">
                        <label th:for="${every_webtoon_data.titleid}+0.5"></label>
                    </div>
                    <div class="text-right">
                        <button id="submit" type="submit" class="btn btn-secondary" onClick="alert('평가완료')">평가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav" style="float: right">
        <li class="nav-item">
            <a th:href="@{/login}" class="btn btn-secondary" role="button" data-bs-toggle="button">평가 완료</a>
        </li>
    </ul>
    </div>

    <hr class="my-4">
    <hr class="my-4">
    <hr class="my-4">


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" th:if="!${webtoonData.first}"
                    th:href="@{/recommend/recommender/(page=${webtoonData.number - 1})}">Previous</a></li>
            <li class="page-item"><a class="page-link" th:if="!${webtoonData.last}"
                    th:href="@{/recommend/recommender/(page=${webtoonData.number + 1})}">Next</a></li>
        </ul>
    </nav>
</body>

</html>