<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/common :: head('웹툰 추천 사이트')">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link th:href="@{/css/starter-template.css}" rel="stylesheet">
    
    <title> 웹툰 추천 사이트</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common :: menu('home')">
    </nav>

    <!-- <main role="main" class="container flow"> -->
    <header class="page-header">
        <div class="container flow">
            <h1 class="page-title"> Webtoon Recommender </h1>
            <p class="page-subtitle">나이, 성별, MBTI, 평가를 바탕으로<br>
                나한테 딱 맞는 웹툰을 추천받고 지인과 공유하세요.</p>
        </div>
    </header>

    <h1 class="section-title">내가 좋아할만한 웹툰 <p class="main-comment">더 정확한 추천을 위해 웹툰 평가를 해주세요.</p></h1>
    
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider main">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6f1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_8e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_9f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_13.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>
    <hr class="my-4">


    <h1 class="section-title">MBTI별 선호 웹툰</h1>
    <hr class="my-4">
    <h2 class="section-title">ISTJ</h2>

    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_1be.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_2e5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_02.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_03.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6f1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_8e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_9f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_13.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ESFP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_18.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_26.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_30.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_36.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_39.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_44.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_46.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_50.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_58.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_59.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_60.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_64.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_72.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_77.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_82.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_84.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_87.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_88.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">INFP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_91.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_96.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_138.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_487.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a76.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ad4.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aee.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_b1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ba.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bf.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c47.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c72.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ENTJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_d3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_db.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e2.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ed.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ee9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fc6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ff.jpg" alt="">
                <img src="/img/thumbnail_IMAG10_0a.jpg" alt="">
                <img src="/img/title_thumbnail_20.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">INTJ</h2>

    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_1be.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_2e5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_02.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_03.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6f1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_8e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_9f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_13.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ENFJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_18.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_26.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_30.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_36.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_39.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_44.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_46.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_50.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_58.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_59.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_60.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_64.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_72.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_77.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_82.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_84.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_87.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_88.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ISTP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_91.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_96.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_138.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_487.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a76.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ad4.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aee.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_b1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ba.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bf.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c47.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c72.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ESFJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_d3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_db9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e2.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ed.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ee9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fc6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ff.jpg" alt="">
                <img src="/img/thumbnail_IMAG10_0a.jpg" alt="">
                <img src="/img/title_thumbnail_20.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ISFP</h2>

    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_1be.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_2e5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_02.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_03.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6f1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_8e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_9f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_13.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ENTP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_18.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_26.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_30.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_36.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_39.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_44.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_46.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_50.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_58.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_59.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_60.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_64.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_72.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_77.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_82.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_84.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_87.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_88.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ISFJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_91.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_96.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_138.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_487.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a76.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ad4.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aee.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_b1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ba.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bf.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c47.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c72.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ESTJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_d3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_db.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e2.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ed.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ee9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fc6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ff.jpg" alt="">
                <img src="/img/thumbnail_IMAG10_0a.jpg" alt="">
                <img src="/img/title_thumbnail_20.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">INTP</h2>

    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_1be.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_2e5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_02.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_03.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_6f1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7b.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_7f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_8e.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_9f.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_13.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ENFP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_18.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_26.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_30.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_36.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_39.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_44.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_46.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_50.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_58.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_59.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_60.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_64.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_72.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_77.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_82.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_84.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_87.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_88.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">INFJ</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_91.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_96.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_138.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_487.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a5.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_a76.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ad4.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_aee.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_b1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ba.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_bf.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c7.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c47.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_c72.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>

    <h2 class="section-title">ESTP</h2>
    <div class="row">
        <div class="headers">
            <div class="progress-bars"></div>
        </div>
        <div class="src">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                <img src="/img/thumbnail_IMAG06_d3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_4a.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_db9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e1.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e2.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_e6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ed.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ee9.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f3.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_f8.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fa.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fb.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_fc6.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_ff.jpg" alt="">
                <img src="/img/thumbnail_IMAG10_0a.jpg" alt="">
                <img src="/img/title_thumbnail_20.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0.jpg" alt="">
                <img src="/img/thumbnail_IMAG06_0d.jpg" alt="">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>
    
    <hr class="my-4">

    <!-- </main> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script type="text/javascript" src="/js/scroller.js" defer></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

    
</body>

</html>